# Git
.git
.gitignore

# Docker
.docker
docker-compose*
Dockerfile*
.dockerignore

# Build artifacts
**/node_modules
**/dist
**/.next
**/build
**/.turbo

# Environment files
**/.env*
!**/.env.example

# Logs
**/logs
**/*.log

# OS specific
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Testing
**/coverage